* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ############# Variables ############# */
$Negro1: rgb(20, 20, 20);
$Negro2: rgb(48, 48, 48);
$Azul1: rgb(48, 0, 131);
$Azul2: rgb(43, 64, 255);
$Violeta1: rgb(116, 0, 129);
$Violeta2: rgb(178, 71, 255);
$Rosa1: #ff28ed;
$Font1: "Fantasy-One";
$Font2: Arial, Helvetica, sans-serif;
$backMultiColor: linear-gradient(225deg, #0b3cbf 0%, #ff4000 50%, #DED700 100%);

/* ############# Mixin ############# */
@mixin gradienText ($color1, $color2) {
    background: linear-gradient($color1, $color2);
    -webkit-background-clip: text;
    color: transparent;
}

@font-face {
    font-family: "Fantasy-One";
    src: url("../letra/Fantasy-One.ttf.eot");
    src: url("../letra/Fantasy-One.ttf.woff") format("woff"),
}

body {
    background: linear-gradient($Negro1 0%, $Negro2 20%, $Negro1 40%, $Negro2 60%, $Negro1 80%, $Negro2 100%);
    color: white;
}
/* ############# Encabezado ############# */
.encabezado {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 3em;
    @include gradienText($Azul1,$Azul2);
    span {
        @include gradienText($Violeta1, $Violeta2);
    }
}
/* ############# Navegador ############# */
.navegador {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    ul {
        display: flex;
        width: 100%;
        text-align: center;

        li {
            font-size: 2em;
            width: 100%;
            span {
                @include gradienText($Violeta1, $Violeta2);
            }
            a {
                @include gradienText($Azul1, $Azul2);
                &:hover {
                    color: $Rosa1;
                }
            }
        }
    }
}
/* ############# Index Contenido Principal ############# */
main {
    min-height: 80vh;
}

.InformacionPrincipal {
    text-align: center;
    font-family: $Font1;
    h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}

/* ############# Index Seccion Formulario Busqueda ############# */
.formulario {
    padding-top: 40px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: $Font1;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5em;

    input,
    select {
        width: 186px;
        text-align: center;
        font-size: 0.8em;
    }
}

/* ############# Index Seccion Series ############# */
.contenedorSeries {
    width: 90%;
    padding: 0px 4%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: $Font2;
}

.anime {
    margin-top: 20px;
    width: 204px;
    height: 348px;
    border-radius: 15px;
}

.hideAnime {
    display: none !important;
}

.displayAnime {
    display: initial !important;
}

.linkAnime {
    width: 100%;
    height: 100%;
}

.animeContenedor {
    width: 100%;
    height: 90%;
    padding-top: 5px;
    border-radius: 15px;
    background: $backMultiColor;
}

.imagenAnime {
    width: 98%;
    height: 96%;
    margin: 3px auto 0px auto;
    color: transparent;
    border-radius: 15px;
    background-size: cover;
    background-position: bottom;
}
// imagenes de las series
@for $i from 1 through 30 {
    .anime#{$i} {
        background-image: url(../imagenes/anime#{$i}.jpg);
    }
}
// Boton de agregar serie
.tituloAnime {
    width: 100%;
    padding: 6%;
    border-radius: 2px 2px 15px 15px;
    margin: -20px auto 0 auto;
    display: block;
    background: rgb(9, 9, 9);
    text-align: center;
    color: white;
    font-family: $Font2;
    font-size: 1em;
    font-weight: 600;
    border-width: 0px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        background: rgb(29, 29, 29);
        color: rgb(255, 85, 0);
    }

    &:active {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.54);
        background: rgb(4, 4, 4);
        color: orange;
    }
}
/* ############# Pie de Pagina ############# */
.pieDePagina {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.tituloFooter {
    font-size: 2em;
    padding-bottom: 10px;
}
/* ############ PantallaCarga ############ */
.pantallaCarga {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-animation: pantallaCarga 3s forwards;
            animation: pantallaCarga 3s forwards;
  }
  
  @-webkit-keyframes pantallaCarga {
    80% {
      opacity: 1;
    }
    99% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-200%);
              transform: translateY(-200%);
    }
  }
  
  @keyframes pantallaCarga {
    80% {
      opacity: 1;
    }
    99% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-200%);
              transform: translateY(-200%);
    }
  }
// ############# Cartel Agregado #############
.cartelAgregarSerie {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    p {
        background-color: rgb(44, 44, 44);
        font: 800 20px $Font1;
        color: rgb(255, 110, 57);
        border: 3px double $Violeta2;
        padding: 2%;
    }
}

.activo {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    animation: entrar 2s forwards 1;
    opacity: 0;
}

@keyframes entrar {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }

    30% {
        opacity: 1;
        transform: translateY(0);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50vh);
    }
}
/* ############# Tu Lista Tabla ############# */
.h2Lista {
    font-size: 2em;
    margin: 60px auto;
}

.listaSeriesTabla {
    display: flex;
    justify-content: center;
}

.tabla {
    width: 1000px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.tablaCabeza {
    font-family: $Font1;
    font-size: 1.8em;
    color: orangered;
    font-weight: 800;
}

.tablaCuerpo {
    font-weight: 800;
    font-size: 1.4em;
}

.fila {
    border-top: 2px groove blue;

    &:nth-child(even) {
        color: rgb(223, 215, 171);
    }

    &:hover {
        color: $Rosa1;
        box-shadow: 0px 0px 2px 2px $Rosa1;
    }
}

// ########## Tu Lista Estrellas ##########
.rating-group {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);

    input {
        display: none;
    }

    label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 1em;
        color: $Negro2;
    }

    input:checked~label span {
        color: $Azul2;
    }

    &:hover label span {
        color: $Violeta2;
    }

    input:hover~label span {
        color: $Rosa1;
    }
}
// ########## Tu Lista BotonCancelar ##########
.botonesCancelar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        font-size: 50px;
        color: $Azul2;
        cursor: pointer;
        padding-bottom: 2px;
        &:hover {
            color: $Rosa1;
        }
    }
    i {
        padding-bottom: 8px;
        color: rgb(255, 255, 255);
        font-size: 40px;
        cursor: pointer;
        &:hover {
            color: $Rosa1;
        }
    }
}
/* ############# Anime ############# */
.AnimePrincipal {
    background-size: cover;
    background-position: center;
}

.AnimeInformacionPrincipal {
    width: 100%;
    display: flex;
    padding: 2% 5%;
    background-color: rgba(0, 0, 0, 0.855);
}

.ladoIzquierdo {
    width: 60%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imagenColorFondo {
        width: 90%;
        height: 90%;
        border-radius: 5px;
        background: $backMultiColor;
        padding: 4px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    span {
        @extend .tituloAnime;
        width: 90.5%;
        padding: 8px 4px;
    }
}

.ladoDerecho {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    color: $Azul2;

    h1 {
        font-size: 2.5em;
        color: rgb(255, 107, 53);
        padding-bottom: 40px;
        font-family: $Font1;
    }
    h2 {
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    h3 {
        font-size: 1.6em;
    }
    p {
        color: white;
        font-size: 1.2em;
        padding-bottom: 40px;
    }
}

.informacionSerie {
    display: flex;
    div {
        width: 100%;
        ul {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 30px;

            li {
                color: white;
                text-align: center;
                margin: 10px;
                padding: 3px 5px;
                font-size: 1.3em;
                background-color: rgb(255, 68, 0);
                border-radius: 5px;
            }
        }
    }
}

.informacionGenero {
    width: 90% !important;
}

.tuReview {
    display: flex;
    flex-direction: column;
    width: 95.5%;
    margin: 20px 0;

    label {
        font-size: 1.3em;
        padding-bottom: 20px;
        font-weight: 600;
    }

    textarea {
        border-radius: 5px;
        width: 100%;

    }

    input {
        @extend .tituloAnime;
        padding: 1%;
    }
}

.borrarReview {
    display: flex;
    justify-content: space-between;
    i {
        font-size: 1.8em;
        padding-bottom: 20px;
        &:hover {
            color: $Violeta2;
        }
    }
}